*{
	font-family: sans-serif;
	margin:0;
	
}

body{
	background-color: #133337;
	color: #fff;
	min-height: 100vh;
	
}

h1{
	padding-top: 5%;
	text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    background-color: #0D1E20;
  }
  
  .nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
.nav-link {
    position: relative;
    display: block;
    font-weight: 900;
    font-size: 5rem;
    line-height: 1.5;
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
.nav-link:hover {
    color: #ffffff;
	background-color: #253436;
    -webkit-text-stroke: 1px #0D1E20;
    transition: 0.25s;
  }
.nav-link:hover::before {
    transform: translate(12px, -12px);
    color: #133337;
    -webkit-text-stroke: 1px #0D1E20;
  }

.nav-link:hover::after {
    transform: translate(24px, -24px);
    color: #4c757a;
    -webkit-text-stroke: 1px #0D1E20;
  }

.nav-link::before, .nav-link::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.5s;
    -webkit-text-stroke: 1px transparent;
  }



.list-competence{
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-evenly;
	list-style: none;
}

.item-competence{
	padding: 5%;
}

.list-exp{
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-evenly;
	list-style: none;
}

.item-exp{
	padding: 5%;
}

.Contact{
	background-color: #0D1E20;
}

.Contact a{
	color: #fff;
	text-decoration: none;
}

.Contact #Contact{
	padding-top: 0.25%;
}

.slider {
  width: 800px;
  margin: 30px auto;
  position: relative;
}

.slider-viewport {
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.slider-content {
  display: grid;
  grid-auto-flow: column;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.slider-content img {
  width: 200px;
  height: auto;
}

.slider-nav {
  position: absolute;
  width: 100%;
  bottom: -30px;
  margin-top: 10px;
  text-align: center;
}

.slider-nav a {
	
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
  display: inline-block;
  background-color: #adafbc;
  width: 15px;
  height: 15px;
  margin: 0 5px;
}

.slider-nav a:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
}

#img2:target .slider-content {
  -webkit-transform: translateX(-800px);
          transform: translateX(-800px);
}

.list-formation{
	list-style-type: none;
}

.Formation{
	text-decoration: none;
	
	margin-top: 20px;
}

.Formation a{
	color: #fff;
	text-decoration: none;
}

.list-formation .item-formation {
	background-color: #0D1E20;
	padding: 20px 30px;
	margin: 10px 0;
	position: relative;
	transition: all .4s;
	z-index: 5;
	
}

.list-formation .item-formation::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: grey;
	height: 100%;
	width: 5px;
	transition: all .4s;
	z-index: -1;
}

.list-formation .item-formation:hover::before {
	width: 100%;
}

.list-formation .item-formation:nth-child(1)::before {
	background-image: url(../asset/img/college.jpg);
	background-position: 50% 27%;
	background-size: cover;
}

.list-formation .item-formation:nth-child(2)::before {
	background-image: url(../asset/img/Lycee.jpg);
	background-position: center;
	background-size: cover;
}

.list-formation .item-formation:nth-child(3)::before {
	background-image: url(../asset/img/fac.jpg);
	background-position: 50% 20%;
	background-size: cover;
}

.list-formation .item-formation:nth-child(4)::before {
	background-image: url(../asset/img/bts.jpg);
	background-position: 50% 80%;
	background-size: cover;
}

.email{
	padding-top: 2.5%;
}
.github{
	padding-top: 2.5%;
}
.instagram{
	padding-top: 2.5%;
}

#Formation{
	padding-bottom:  1.5%;
}

#Experience{
	margin: 10px 0 ;
	padding: 20px 30px;
}

#Competences{
	margin: 10px 0 ;
	padding: 20px 30px;
}

#A-propos{
	margin: 10px 0 ;
	padding: 20px 30px;
}

#Accueil{
	margin: 10px 0 ;
	padding: 20px 30px;
}

.A-propos p{
	text-align: center;
	padding: 20px 30px;
}
.A-propos h3{
	text-align: center;
	padding: 20px 30px;
}